In [1]:
#Cau 6 
import pandas as pd
import numpy as np

df = pd.read_csv("dulieuxettuyendaihoc.csv")

score_cols = [col for col in df.columns 
              if col.startswith(('T','L','H','S','V','X','D','N','DH'))
              and col not in ['DT']]

for col in score_cols:
    df[col] = df[col].fillna(df[col].mean())
df

,STT,T1,L1,H1,S1,V1,X1,D1,N1,T2,...,X6,D6,N6,GT,DT,KV,DH1,DH2,DH3,KT
0,1,7.2,7.3,6.3,7.3,7.0,7.9,7.3,5.5,8.4,...,6.6,7.6,5.9,F,NaN,2NT,3.25,3.25,4.50,A1
1,2,5.4,3.9,3.9,4.0,5.4,5.4,5.3,2.8,6.3,...,6.6,6.1,4.4,M,NaN,1,6.00,4.00,3.50,C
2,3,5.6,6.8,7.2,7.5,4.3,7.4,5.8,3.2,5.0,...,7.9,8.1,4.6,M,NaN,1,5.00,6.75,4.00,C
3,4,6.6,6.4,5.3,6.9,5.4,7.3,6.4,5.8,5.1,...,7.1,7.3,7.4,M,NaN,1,4.25,4.25,5.25,D1
4,5,6.0,5.0,6.0,7.3,6.5,7.7,7.9,6.1,5.4,...,6.1,7.5,7.2,M,NaN,2NT,4.25,4.50,5.00,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,96,8.6,6.9,7.4,8.8,7.6,5.8,7.3,5.7,8.9,...,6.3,6.1,6.2,F,NaN,1,5.25,1.50,6.25,C
96,97,3.7,5.4,6.0,5.1,5.5,3.9,6.1,4.4,4.1,...,7.9,7.5,4.4,F,NaN,1,5.25,3.75,4.75,C
97,98,8.8,5.5,7.4,7.7,6.2,7.3,8.1,4.5,9.5,...,9.6,8.4,5.8,M,NaN,2NT,7.00,8.00,4.00,C
98,99,2.7,1.8,3.4,5.3,4.5,7.9,4.9,3.8,2.8,...,6.6,5.2,5.9,M,NaN,1,5.00,3.50,5.50,C
99,100,4.1,5.2,4.9,5.3,5.5,5.4,7.2,5.4,4.4,...,5.6,6.6,5.8,M,NaN,2NT,5.25,2.50,4.25,C

In [3]:
#Cau 7
def tinh_TBM(df, suffix):
    return (df[f'T{suffix}']*2 + df[f'L{suffix}'] + df[f'H{suffix}'] +
            df[f'S{suffix}'] + df[f'V{suffix}']*2 + df[f'X{suffix}'] +
            df[f'D{suffix}'] + df[f'N{suffix}']) / 10

df['TBM1'] = tinh_TBM(df, 1)
df['TBM2'] = tinh_TBM(df, 2)
df['TBM3'] = tinh_TBM(df, 6)
df

,STT,T1,L1,H1,S1,V1,X1,D1,N1,T2,...,GT,DT,KV,DH1,DH2,DH3,KT,TBM1,TBM2,TBM3
0,1,7.2,7.3,6.3,7.3,7.0,7.9,7.3,5.5,8.4,...,F,NaN,2NT,3.25,3.25,4.50,A1,7.00,7.54,7.01
1,2,5.4,3.9,3.9,4.0,5.4,5.4,5.3,2.8,6.3,...,M,NaN,1,6.00,4.00,3.50,C,4.69,5.47,5.07
2,3,5.6,6.8,7.2,7.5,4.3,7.4,5.8,3.2,5.0,...,M,NaN,1,5.00,6.75,4.00,C,5.77,5.38,6.04
3,4,6.6,6.4,5.3,6.9,5.4,7.3,6.4,5.8,5.1,...,M,NaN,1,4.25,4.25,5.25,D1,6.21,5.20,6.88
4,5,6.0,5.0,6.0,7.3,6.5,7.7,7.9,6.1,5.4,...,M,NaN,2NT,4.25,4.50,5.00,A,6.50,6.36,6.99
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,96,8.6,6.9,7.4,8.8,7.6,5.8,7.3,5.7,8.9,...,F,NaN,1,5.25,1.50,6.25,C,7.43,7.42,6.83
96,97,3.7,5.4,6.0,5.1,5.5,3.9,6.1,4.4,4.1,...,F,NaN,1,5.25,3.75,4.75,C,4.93,5.15,6.39
97,98,8.8,5.5,7.4,7.7,6.2,7.3,8.1,4.5,9.5,...,M,NaN,2NT,7.00,8.00,4.00,C,7.05,7.84,7.67
98,99,2.7,1.8,3.4,5.3,4.5,7.9,4.9,3.8,2.8,...,M,NaN,1,5.00,3.50,5.50,C,4.15,4.72,5.29
99,100,4.1,5.2,4.9,5.3,5.5,5.4,7.2,5.4,4.4,...,M,NaN,2NT,5.25,2.50,4.25,C,5.26,5.72,5.85

In [4]:
#Cau 8
def xep_loai(tbm):
    if tbm < 5:
        return 'Y'
    elif tbm < 6.5:
        return 'TB'
    elif tbm < 8:
        return 'K'
    elif tbm < 9:
        return 'G'
    else:
        return 'XS'

df['XL1'] = df['TBM1'].apply(xep_loai)
df['XL2'] = df['TBM2'].apply(xep_loai)
df['XL3'] = df['TBM3'].apply(xep_loai)
df

,STT,T1,L1,H1,S1,V1,X1,D1,N1,T2,...,DH1,DH2,DH3,KT,TBM1,TBM2,TBM3,XL1,XL2,XL3
0,1,7.2,7.3,6.3,7.3,7.0,7.9,7.3,5.5,8.4,...,3.25,3.25,4.50,A1,7.00,7.54,7.01,K,K,K
1,2,5.4,3.9,3.9,4.0,5.4,5.4,5.3,2.8,6.3,...,6.00,4.00,3.50,C,4.69,5.47,5.07,Y,TB,TB
2,3,5.6,6.8,7.2,7.5,4.3,7.4,5.8,3.2,5.0,...,5.00,6.75,4.00,C,5.77,5.38,6.04,TB,TB,TB
3,4,6.6,6.4,5.3,6.9,5.4,7.3,6.4,5.8,5.1,...,4.25,4.25,5.25,D1,6.21,5.20,6.88,TB,TB,K
4,5,6.0,5.0,6.0,7.3,6.5,7.7,7.9,6.1,5.4,...,4.25,4.50,5.00,A,6.50,6.36,6.99,K,TB,K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,96,8.6,6.9,7.4,8.8,7.6,5.8,7.3,5.7,8.9,...,5.25,1.50,6.25,C,7.43,7.42,6.83,K,K,K
96,97,3.7,5.4,6.0,5.1,5.5,3.9,6.1,4.4,4.1,...,5.25,3.75,4.75,C,4.93,5.15,6.39,Y,TB,TB
97,98,8.8,5.5,7.4,7.7,6.2,7.3,8.1,4.5,9.5,...,7.00,8.00,4.00,C,7.05,7.84,7.67,K,K,K
98,99,2.7,1.8,3.4,5.3,4.5,7.9,4.9,3.8,2.8,...,5.00,3.50,5.50,C,4.15,4.72,5.29,Y,Y,TB
99,100,4.1,5.2,4.9,5.3,5.5,5.4,7.2,5.4,4.4,...,5.25,2.50,4.25,C,5.26,5.72,5.85,TB,TB,TB

In [5]:
#Cau 9
def min_max_to_4(series):
    return 4 * (series - series.min()) / (series.max() - series.min())

df['US_TBM1'] = min_max_to_4(df['TBM1'])
df['US_TBM2'] = min_max_to_4(df['TBM2'])
df['US_TBM3'] = min_max_to_4(df['TBM3'])
df

,STT,T1,L1,H1,S1,V1,X1,D1,N1,T2,...,KT,TBM1,TBM2,TBM3,XL1,XL2,XL3,US_TBM1,US_TBM2,US_TBM3
0,1,7.2,7.3,6.3,7.3,7.0,7.9,7.3,5.5,8.4,...,A1,7.00,7.54,7.01,K,K,K,2.930693,3.029126,2.537143
1,2,5.4,3.9,3.9,4.0,5.4,5.4,5.3,2.8,6.3,...,C,4.69,5.47,5.07,Y,TB,TB,0.643564,1.019417,0.320000
2,3,5.6,6.8,7.2,7.5,4.3,7.4,5.8,3.2,5.0,...,C,5.77,5.38,6.04,TB,TB,TB,1.712871,0.932039,1.428571
3,4,6.6,6.4,5.3,6.9,5.4,7.3,6.4,5.8,5.1,...,D1,6.21,5.20,6.88,TB,TB,K,2.148515,0.757282,2.388571
4,5,6.0,5.0,6.0,7.3,6.5,7.7,7.9,6.1,5.4,...,A,6.50,6.36,6.99,K,TB,K,2.435644,1.883495,2.514286
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,96,8.6,6.9,7.4,8.8,7.6,5.8,7.3,5.7,8.9,...,C,7.43,7.42,6.83,K,K,K,3.356436,2.912621,2.331429
96,97,3.7,5.4,6.0,5.1,5.5,3.9,6.1,4.4,4.1,...,C,4.93,5.15,6.39,Y,TB,TB,0.881188,0.708738,1.828571
97,98,8.8,5.5,7.4,7.7,6.2,7.3,8.1,4.5,9.5,...,C,7.05,7.84,7.67,K,K,K,2.980198,3.320388,3.291429
98,99,2.7,1.8,3.4,5.3,4.5,7.9,4.9,3.8,2.8,...,C,4.15,4.72,5.29,Y,Y,TB,0.108911,0.291262,0.571429
99,100,4.1,5.2,4.9,5.3,5.5,5.4,7.2,5.4,4.4,...,C,5.26,5.72,5.85,TB,TB,TB,1.207921,1.262136,1.211429

In [6]:
#Cau 10
def ket_qua_xt(row):
    if row['KT'] in ['A', 'A1']:
        diem = (row['DH1']*2 + row['DH2'] + row['DH3']) / 4
    elif row['KT'] == 'B':
        diem = (row['DH1'] + row['DH2']*2 + row['DH3']) / 4
    else:
        diem = (row['DH1'] + row['DH2'] + row['DH3']) / 3
    return 1 if diem >= 5 else 0

df['KQXT'] = df.apply(ket_qua_xt, axis=1)
df

,STT,T1,L1,H1,S1,V1,X1,D1,N1,T2,...,TBM1,TBM2,TBM3,XL1,XL2,XL3,US_TBM1,US_TBM2,US_TBM3,KQXT
0,1,7.2,7.3,6.3,7.3,7.0,7.9,7.3,5.5,8.4,...,7.00,7.54,7.01,K,K,K,2.930693,3.029126,2.537143,0
1,2,5.4,3.9,3.9,4.0,5.4,5.4,5.3,2.8,6.3,...,4.69,5.47,5.07,Y,TB,TB,0.643564,1.019417,0.320000,0
2,3,5.6,6.8,7.2,7.5,4.3,7.4,5.8,3.2,5.0,...,5.77,5.38,6.04,TB,TB,TB,1.712871,0.932039,1.428571,1
3,4,6.6,6.4,5.3,6.9,5.4,7.3,6.4,5.8,5.1,...,6.21,5.20,6.88,TB,TB,K,2.148515,0.757282,2.388571,0
4,5,6.0,5.0,6.0,7.3,6.5,7.7,7.9,6.1,5.4,...,6.50,6.36,6.99,K,TB,K,2.435644,1.883495,2.514286,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,96,8.6,6.9,7.4,8.8,7.6,5.8,7.3,5.7,8.9,...,7.43,7.42,6.83,K,K,K,3.356436,2.912621,2.331429,0
96,97,3.7,5.4,6.0,5.1,5.5,3.9,6.1,4.4,4.1,...,4.93,5.15,6.39,Y,TB,TB,0.881188,0.708738,1.828571,0
97,98,8.8,5.5,7.4,7.7,6.2,7.3,8.1,4.5,9.5,...,7.05,7.84,7.67,K,K,K,2.980198,3.320388,3.291429,1
98,99,2.7,1.8,3.4,5.3,4.5,7.9,4.9,3.8,2.8,...,4.15,4.72,5.29,Y,Y,TB,0.108911,0.291262,0.571429,0
99,100,4.1,5.2,4.9,5.3,5.5,5.4,7.2,5.4,4.4,...,5.26,5.72,5.85,TB,TB,TB,1.207921,1.262136,1.211429,0

In [7]:
#Cau 11
df.to_csv("processed_dulieuxettuyendaihoc.csv", index=False)
print("Đã lưu file processed_dulieuxettuyendaihoc.csv")

Đã lưu file processed_dulieuxettuyendaihoc.csv