In [52]:
import pandas as pd
#Van de 1
column_names = [
    "Id", "Name", "Age", "Weight",
    "m0006", "m0612", "m1218",
    "f0006", "f0612", "f1218"
]
df = pd.read_csv(
    "patient_heart_rate.csv",
    names=column_names,
    engine="python",
    on_bad_lines="skip"
)
print(df.head())

    Id            Name   Age      Weight m0006 m0612 m1218 f0006 f0612 f1218
0  1.0    Mickéy Mousé  56.0       70kgs    72    69    71     -     -     -
1  2.0     Donald Duck  34.0   154.89lbs     -     -     -    85    84    76
2  3.0      Mini Mouse  16.0         NaN     -     -     -    65    69    72
3  4.0  Scrooge McDuck   NaN       78kgs    78    79    72     -     -     -
4  5.0    Pink Panther  54.0  198.658lbs     -     -     -    69   NaN    75

In [53]:
#Van de 2
df[['Firstname', 'Lastname']] = df['Name'].str.split(expand=True)
df = df.drop('Name', axis=1)

print(df.head())

    Id   Age      Weight m0006 m0612 m1218 f0006 f0612 f1218 Firstname  \
0  1.0  56.0       70kgs    72    69    71     -     -     -    Mickéy
1  2.0  34.0   154.89lbs     -     -     -    85    84    76    Donald
2  3.0  16.0         NaN     -     -     -    65    69    72      Mini
3  4.0   NaN       78kgs    78    79    72     -     -     -   Scrooge
4  5.0  54.0  198.658lbs     -     -     -    69   NaN    75      Pink

  Lastname
0    Mousé
1     Duck
2    Mouse
3   McDuck
4  Panther

In [54]:
#Van de 3
weight = df['Weight']

for i in range(len(weight)):
    x = str(weight[i])

    if "lbs" in x:
        x = x.replace("lbs", "")
        value = float(x)
        kg = int(value / 2.2)
        df.at[i, 'Weight'] = str(kg) + "kgs"

print(df.head())

    Id   Age Weight m0006 m0612 m1218 f0006 f0612 f1218 Firstname Lastname
0  1.0  56.0  70kgs    72    69    71     -     -     -    Mickéy    Mousé
1  2.0  34.0  70kgs     -     -     -    85    84    76    Donald     Duck
2  3.0  16.0    NaN     -     -     -    65    69    72      Mini    Mouse
3  4.0   NaN  78kgs    78    79    72     -     -     -   Scrooge   McDuck
4  5.0  54.0  90kgs     -     -     -    69   NaN    75      Pink  Panther

In [55]:
#Van de 4
df.dropna(how="all", inplace=True)
print(df.head())

    Id   Age Weight m0006 m0612 m1218 f0006 f0612 f1218 Firstname Lastname
0  1.0  56.0  70kgs    72    69    71     -     -     -    Mickéy    Mousé
1  2.0  34.0  70kgs     -     -     -    85    84    76    Donald     Duck
2  3.0  16.0    NaN     -     -     -    65    69    72      Mini    Mouse
3  4.0   NaN  78kgs    78    79    72     -     -     -   Scrooge   McDuck
4  5.0  54.0  90kgs     -     -     -    69   NaN    75      Pink  Panther

In [56]:
#Van de 5
df = df.drop_duplicates(subset=['Firstname', 'Lastname', 'Age', 'Weight'])
print(df.head())

    Id   Age Weight m0006 m0612 m1218 f0006 f0612 f1218 Firstname Lastname
0  1.0  56.0  70kgs    72    69    71     -     -     -    Mickéy    Mousé
1  2.0  34.0  70kgs     -     -     -    85    84    76    Donald     Duck
2  3.0  16.0    NaN     -     -     -    65    69    72      Mini    Mouse
3  4.0   NaN  78kgs    78    79    72     -     -     -   Scrooge   McDuck
4  5.0  54.0  90kgs     -     -     -    69   NaN    75      Pink  Panther

In [57]:
#Van de 6
df['Firstname'].replace({r'[^\x00-\x7F]+': ''}, regex=True, inplace=True)
df['Lastname'].replace({r'[^\x00-\x7F]+': ''}, regex=True, inplace=True)

print(df.head())

    Id   Age Weight m0006 m0612 m1218 f0006 f0612 f1218 Firstname Lastname
0  1.0  56.0  70kgs    72    69    71     -     -     -     Micky     Mous
1  2.0  34.0  70kgs     -     -     -    85    84    76    Donald     Duck
2  3.0  16.0    NaN     -     -     -    65    69    72      Mini    Mouse
3  4.0   NaN  78kgs    78    79    72     -     -     -   Scrooge   McDuck
4  5.0  54.0  90kgs     -     -     -    69   NaN    75      Pink  Panther

C:\Users\DELL\AppData\Local\Temp\ipykernel_21572\423226781.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Firstname'].replace({r'[^\x00-\x7F]+': ''}, regex=True, inplace=True)
C:\Users\DELL\AppData\Local\Temp\ipykernel_21572\423226781.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Lastname'].replace({r'[^\x00-\x7F]+': ''}, regex=True, inplace=True)

In [58]:
#Van de 7 
import pandas as pd
import numpy as np

# a
print("Số lượng giá trị thiếu:")
print(df[['Age', 'Weight']].isnull().sum())
print("-" * 40)

# b
df['Age'] = pd.to_numeric(df['Age'], errors='coerce')

# c
df = df.dropna(subset=['Age', 'Weight'], how='all')

# d
mean_age = df['Age'].mean()
print("Giá trị trung bình Age:", round(mean_age, 2))

# e
df['Age'] = df['Age'].fillna(mean_age)

print("\nDữ liệu sau khi xử lý missing values:")
print(df[['Age', 'Weight']])

Số lượng giá trị thiếu:
Age       3
Weight    3
dtype: int64
----------------------------------------
Giá trị trung bình Age: 36.1

Dữ liệu sau khi xử lý missing values:
     Age Weight
0   56.0  70kgs
1   34.0  70kgs
2   16.0    NaN
3   36.1  78kgs
4   54.0  90kgs
5   52.0  85kgs
6   19.0  56kgs
7   32.0  78kgs
11  12.0  45kgs
12  36.1  60kgs
13  34.0    NaN
15  52.0  81kgs

In [59]:
#Van de 8
import pandas as pd

df = pd.read_csv("patient_heart_rate.csv",engine="python",on_bad_lines="skip",header=None)
df.columns = ["id","fullname","age","weight","m0006","m0612","m1218","f0006","f0612","f1218"]
df[["Firstname", "Lastname"]] = df["fullname"].str.split(" ", n=1, expand=True)
df = df.drop(columns=["fullname"])
df = pd.melt(df,id_vars=["id", "age", "weight", "Firstname", "Lastname"],var_name="sex_and_time",value_name="PulseRate")
tmp = df["sex_and_time"].str.extract(r"([mf])(\d{2})(\d{2})")
tmp.columns = ["Sex", "Start", "End"]
df["Time"] = tmp["Start"] + "-" + tmp["End"]
df["Sex"] = tmp["Sex"]
df = df.drop(columns=["sex_and_time"])
df = df.dropna(subset=["PulseRate"])

print(df)

      id   age      weight Firstname Lastname PulseRate   Time Sex
0    1.0  56.0       70kgs    Mickéy    Mousé        72  00-06   m
1    2.0  34.0   154.89lbs    Donald     Duck         -  00-06   m
2    3.0  16.0         NaN      Mini    Mouse         -  00-06   m
3    4.0   NaN       78kgs   Scrooge   McDuck        78  00-06   m
4    5.0  54.0  198.658lbs      Pink  Panther         -  00-06   m
..   ...   ...         ...       ...      ...       ...    ...  ..
91  10.0  12.0       45kgs     Louie   McDuck        87  12-18   f
92  11.0   NaN       60kgs     Henry      Nam         -  12-18   f
93  12.0  34.0         NaN    Michel     Long         -  12-18   f
94  13.0   NaN         NaN      Tana    Ricky        70  12-18   f
95  15.0  52.0      180lbs       NaN      NaN        72  12-18   f

[83 rows x 8 columns]

In [60]:
#Cau 11
df = pd.read_csv("patient_heart_rate.csv",engine="python",on_bad_lines="skip",header=None)
df.columns = ["id","fullname","age","weight","m0006","m0612","m1218","f0006","f0612","f1218"]
df[["Firstname", "Lastname"]] = df["fullname"].str.split(" ", n=1, expand=True)
df = df.drop(columns=["fullname"])

df = pd.melt(df,id_vars=["id", "age", "weight", "Firstname", "Lastname"],var_name="sex_and_time",value_name="PulseRate")
tmp = df["sex_and_time"].str.extract(r"([mf])(\d{2})(\d{2})")
tmp.columns = ["Sex", "Start", "End"]
df["Time"] = tmp["Start"] + "-" + tmp["End"]
df["Sex"] = tmp["Sex"]
df = df.drop(columns=["sex_and_time"])

df["PulseRate"] = df["PulseRate"].replace("-", np.nan)
df["PulseRate"] = pd.to_numeric(df["PulseRate"], errors="coerce")

time_order = {"00-06": 1, "06-12": 2, "12-18": 3}
df["TimeOrder"] = df["Time"].map(time_order)
df = df.sort_values(by=["id", "TimeOrder"])

def fill_pulse_rate(group):
    values = group["PulseRate"].copy()

    for i in range(len(values)):
        if pd.isna(values.iloc[i]):

            #trung binh lien truoc va lien sau
            prev_val = values.iloc[i-1] if i-1 >= 0 else np.nan
            next_val = values.iloc[i+1] if i+1 < len(values) else np.nan
            if not pd.isna(prev_val) and not pd.isna(next_val):
                values.iloc[i] = (prev_val + next_val) / 2
                continue

            #trung binh 2 gia tri lien truoc
            prev2 = values.iloc[max(0, i-2):i].dropna()
            if len(prev2) == 2:
                values.iloc[i] = prev2.mean()
                continue

            #trung binh 2 gia tri lien sau 
            next2 = values.iloc[i+1:i+3].dropna()
            if len(next2) == 2:
                values.iloc[i] = next2.mean()
                continue

            #trung binh cua cac gia tri huyet ap cua nguoi do
            person_mean = values.mean()
            if not pd.isna(person_mean):
                values.iloc[i] = person_mean

    group["PulseRate"] = values
    return group

df = df.groupby("id", group_keys=False).apply(fill_pulse_rate)

#trung binh cua nhom gioi tinh
df["PulseRate"] = df["PulseRate"].fillna(
    df.groupby("Sex")["PulseRate"].transform("mean")
)

#trung binh cua cac gia tri du lieu
overall_mean = df["PulseRate"].mean()
df["PulseRate"] = df["PulseRate"].fillna(overall_mean)

#muc on dinh y hoc
df["PulseRate"] = df["PulseRate"].fillna(70)

print("Số giá trị PulseRate còn thiếu:", df["PulseRate"].isna().sum())
print(df.head())

Số giá trị PulseRate còn thiếu: 0
     id   age weight Firstname Lastname  PulseRate   Time Sex  TimeOrder
0   1.0  56.0  70kgs    Mickéy    Mousé       72.0  00-06   m          1
48  1.0  56.0  70kgs    Mickéy    Mousé       70.5  00-06   f          1
16  1.0  56.0  70kgs    Mickéy    Mousé       69.0  06-12   m          2
64  1.0  56.0  70kgs    Mickéy    Mousé       70.0  06-12   f          2
32  1.0  56.0  70kgs    Mickéy    Mousé       71.0  12-18   m          3

C:\Users\DELL\AppData\Local\Temp\ipykernel_21572\3722700018.py:54: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  df = df.groupby("id", group_keys=False).apply(fill_pulse_rate)

In [61]:
#Cau 12
df = pd.read_csv("patient_heart_rate.csv",engine="python",on_bad_lines="skip",header=None)
print("Du lieu ban dau:")
print(df.head())
df = df.iloc[:, [0, 1, 4]]
df.columns = ['patient_id', 'date', 'heart_rate']
df['date'] = pd.to_datetime(df['date'], errors='coerce')
df['heart_rate'] = pd.to_numeric(df['heart_rate'], errors='coerce')
df = df.dropna()
df = df[(df['heart_rate'] >= 30) & (df['heart_rate'] <= 220)]
df = df.reset_index(drop=True)
df.to_csv("patient_heart_rate_clean.csv", index=False)

print("Da xu ly xong du lieu")
print("File luu: patient_heart_rate_clean.csv")
print(df.head())

Du lieu ban dau:
     0               1     2           3   4   5   6   7    8   9
0  1.0    Mickéy Mousé  56.0       70kgs  72  69  71   -    -   -
1  2.0     Donald Duck  34.0   154.89lbs   -   -   -  85   84  76
2  3.0      Mini Mouse  16.0         NaN   -   -   -  65   69  72
3  4.0  Scrooge McDuck   NaN       78kgs  78  79  72   -    -   -
4  5.0    Pink Panther  54.0  198.658lbs   -   -   -  69  NaN  75
Da xu ly xong du lieu
File luu: patient_heart_rate_clean.csv
Empty DataFrame
Columns: [patient_id, date, heart_rate]
Index: []

C:\Users\DELL\AppData\Local\Temp\ipykernel_21572\1307387506.py:7: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['date'] = pd.to_datetime(df['date'], errors='coerce')